<div class="wrapper">
  <form #loginForm="ngForm" class="form-signin" (submit)="getAllUsers()">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="username" placeholder="Username"  autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" />
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
  </form>
</div>

<div>
  <h1>User Name: {{users|json}}</h1>
</div>
