.pb-2{
    font-family: "Trade Gothic Bold";
    margin-top: 8px;
    font-size: 18px;
}

.mb-0{
    font-family: "Trade Gothic Bold";
    font-size: 18px;

}

.fw-normal{
    font-family: "Trade Gothic Bold";
    font-size: 18px;
}

.me-2{
    font-family: "Trade Gothic Bold";
    color: black;
}

.container{
    background-color: whitesmoke;
}