.nameText{
    font-size:22px;
}

.priceText{
    font-size: 18px;
}
.descriptionText{
    font-size: 14px;
}
.col-lg-8{
    padding-left: 20px;
}
.card{
    background-color: chocolate;
    border: 10px;
    margin-right: 40px;
}