<div class="container">
    <div class="card" width-min="1100px;">
        <div class="row">
            <div class="col-lg-4">
                <!-- image go here -->
                <img width="300px" height="450px"
                    style="width: 300px; height: 450; object-fit:cover; border-radius: 20px; padding: 10px;"
                    src="{{item.imageUrl}}" alt="">
            </div>
            <div class="col-lg-8">
                <div style="margin-right: 30px;">
                    <br><br>
                    <div class="nameText card">
                        <p>{{item.name}}</p>
                    </div>
                    <hr>
                    <div class="card">
                        <h3 class="descriptionText">{{item.description}}</h3>
                    </div>
                    <hr>
                    <div class="card">
                        <h2>Price:</h2>
                        <p class="priceText">{{ item.price| currency}}</p>
                    </div>
                    <hr>
                    <br><br><br><br>
                    <div class="row">
                        <button routerLink="/home" class="btn btn-primary btn-lg col-lg-5">Back</button>
                        <div class="col-lg-1"></div>
                        <button (click)="addToCart(item.id)" class="btn btn-primary btn-lg col-lg-5">Add to
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>